/*
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/

img#thumb {
  object-fit: contain;
}

.text-left {
  text-align: left;
}

.text-6xl {
  font-size: 2.5rem;
  line-height: 1;
}

.swiper-slide .s-fade-txt {
  position: absolute;
  top: 15%;
  left: 8%;
  width: 80%;
  transform: translate(0,0);
  opacity: 0;
}

.img-circle img {
  border-radius: 50%;
}

@media (min-width: 480px) {
  .text-6xl {
    font-size: 3rem;
  }
}

@media (min-width: 640px) {
  .text-6xl {
    font-size: 4.5rem;
  }
}

@media (min-width: 768px) {
  .text-6xl {
    font-size: 5rem;
  }

  .listfounders, .listresearches {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .text-6xl {
    font-size: 6rem;
  }
}

@media (min-width: 1280px) {
  .text-6xl {
    font-size: 6.5rem;
  }
}

@media (min-width: 1536px) {
  .text-6xl {
    font-size: 7rem;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  margin: 0 5px 5px 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  flex-basis: 0;
  flex-grow: 1;
}

.listfounders {

  justify-content: center;
}

.card:hover {
  opacity: 0.9;
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.card img {
  border-radius: 50%;
  filter: sepia(20%);

  padding: 10px;
  width: 15rem;
  height: 15rem;
  object-fit: contain;
  margin: 0 auto;
}

.card .person-diploma {
  margin: 10px 0;
}

.card .person-links {
  margin: 14px 0 20px 0;
}

.card .person-links a {
  text-decoration: none;
  font-size: 1.5rem;
}
