/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/

.text-left {
  text-align: left;
}

.text-6xl {
  font-size: 4rem;
  line-height: 1;
}

.swiper-slide .s-fade-txt {
  position: absolute;
  top: 15%;
  left: 8%;
  width: 80%;
  transform: translate(0,0);
  opacity: 0;
}

@media (min-width: 640px) {
  .text-6xl {
    font-size: 4.5rem;
  }
}

@media (min-width: 768px) {
  .text-6xl {
    font-size: 5rem;
  }
}

@media (min-width: 1024px) {
  .text-6xl {
    font-size: 6rem;
  }
}

@media (min-width: 1280px) {
  .text-6xl {
    font-size: 6.5rem;
  }
}

@media (min-width: 1536px) {
  .text-6xl {
    font-size: 7rem;
  }
}